
<h2>Please add customer to the system</h2>

<div class="modal-body">

    <span>CompanyName:            </span>
    <input id="CompanyName" type="text" />
    <br />
    <br />

    <span>CustomerName:      </span>
    <input id="CustomerName" type="text" />
    <br />
    <br />

    <span>Streetadress:      </span>
    <input id="StreetAdress" type="text" />
    <br />
    <br />

    <span>City:            </span>
    <input id="City" type="text" />
    <br />
    <br />

    <span>Phonework:            </span>
    <input id="Phonework" type="text" />
    <br />
    <br />

    <span>Email:      </span>
    <input id="Email" type="text" />
    <br />
    <br />


    <button id="btnSave" onclick="AddCustomer()">Save</button>

</div>


