
<h2>Please add Feedback to the system</h2>

<div class="modal-body">

    <span>CompanyName:            </span>
    <input id="CompanyName" type="text" />
    <br />
    <br />

    <span>CustomerName:      </span>
    <input id="CustomerName" type="text" />
    <br />
    <br />

    <span>typeIssue:      </span>
    <input id="typeIssue" type="text" />
    <br />
    <br />

    <span>FeedbackDesc:            </span>
    <input id="FeedbackDesc" type="text" />
    <br />
    <br />


    <button id="btnSave" onclick="Feedback()">Save</button>

</div>

