
<h2>Please add item to the system</h2>

    <div class="modal-body">
        
        <span>CompanyName:            </span>
        <input id="CompanyName" type="text" />
        <br />
        <br />

        <span>ProductId:      </span>
        <input id="ProductId" type="text" />
        <br />
        <br />

        <span>ProductName:      </span>
        <input id="ProductName" type="text" />
        <br />
        <br />

        <span>Quantity:            </span>
        <input id="Quantity" type="text" />
        <br />
        <br />

        <span>MinStock:            </span>
        <input id="MinStock" type="text" />
        <br />
        <br />

        <span>ManufItemKey:      </span>
        <input id="ManufItemKey" type="text" />
        <br />
        <br />

        <span>CompanyOfTheManufcter:            </span>
        <input id="CompanyOfTheManufcter" type="text" />
        <br />
        <br />

        <button id="btnSave" onclick="AddItem()">Save</button>

    </div>


