
<h2>Please add Purchase Order to the system</h2>

<div class="modal-body">

    <span>purhcaseOrderId:            </span>
    <input id="purhcaseOrderId" type="text" />
    <br />
    <br />


    <span>CompanyName:      </span>
    <input id="CompanyName" type="text" />
    <br />
    <br />

    <span>Quantity:            </span>
    <input id="Quantity" type="text" />
    <br />
    <br />

    <span>Payment:            </span>
    <input id="Payment" type="text" />
    <br />
    <br />

    <span>ProductName:            </span>
    <input id="ProductName" type="text" />
    <br />
    <br />

    <span>VendorName:      </span>
    <input id="VendorName" type="text" />
    <br />
    <br />

    <span>VendorCountrey:      </span>
    <input id="VendorCountrey" type="text" />
    <br />
    <br />


    <span>ShipTo:      </span>
    <input id="ShipTo" type="text" />
    <br />
    <br />



    <span>PhoneContact:      </span>
    <input id="PhoneContact" type="text" />
    <br />
    <br />



    <span>Reason:      </span>
    <input id="Reason" type="text" />
    <br />
    <br />


    <button id="btnSave" onclick="AddPurchaseOrder()">Save</button>

</div>


