
<h2>Please add customer order to the system</h2>

<div class="modal-body">

    <span>OrderId:            </span>
    <input id="OrderId" type="text" />
    <br />
    <br />

    <span>CompanyName:      </span>
    <input id="CompanyName" type="text" />
    <br />
    <br />

    <span>Quantity:            </span>
    <input id="Quantity" type="text" />
    <br />
    <br />


    <span>ProductName:            </span>
    <input id="ProductName" type="text" />
    <br />
    <br />

    <span>CustomerName:      </span>
    <input id="CustomerName" type="text" />
    <br />
    <br />

    <span>ShipTo:            </span>
    <input id="ShipTo" type="text" />
    <br />
    <br />

    <span>PhoneContact:            </span>
    <input id="PhoneContact" type="text" />
    <br />
    <br />

    <span>SupposedToArrive:            </span>
    <input id="SupposedToArrive" type="text" />
    <br />
    <br />

    <button id="btnSave" onclick="AddOrder()">Save</button>

</div>


