
<h2>Please register to the system</h2>

<div>

    <span>NameContact:            </span>
    <input id="NameContact" type="text" />
    <br />
    <br />

    <span>UserName:      </span>
    <input id="UserName" type="text" />
    <br />
    <br />

    <span>Company:      </span>
    <input id="Company" type="text" />
    <br />
    <br />

    <span>Pass:            </span>
    <input id="Pass" type="text" />
    <br />
    <br />

    <span>RePass:            </span>
    <input id="RePass" type="text" />
    <br />
    <br />

    <span>Email:      </span>
    <input id="Email" type="text" />
    <br />
    <br />

    <span>Location:            </span>
    <input id="Location" type="text" />
    <br />
    <br />

    <span>Phone:      </span>
    <input id="Phone" type="text" />
    <br />
    <br />

    <button id="btnSave" onclick="Register()">Save</button>

</div>



