<table class="table table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <!--<input type="checkbox" class="ace" />-->
                    <span class="lbl"></span>
                </label>
            </th>
            <th class="detail-col">CustomerId</th>
            <th>CompanyName</th>
            <th>CustomerName</th>
            <th>StreetAdress</th>
            <th>City</th>
            <th>Phonework</th>
            <th>DateLastInvited</th>
            <th>Email</th>
            <!--<th class="hidden-480">Clicks</th>-->

            <th>
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                Update
            </th>

        </tr>
        <tr ng-repeat="cust in customers">
            <td></td>
            <td>{{cust.CustomerId}}</td>
            <td>{{cust.CompanyName}}</td>
            <td>{{cust.CustomerName}}</td>
            <td>{{cust.StreetAdress}}</td>
            <td>{{cust.City}}</td>
            <td>{{cust.Phonework}}</td>
            <td>{{cust.DateLastInvited}}</td>
            <td>{{cust.Email}}</td>
        </tr>
    </thead>
</table>

